@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Commissioner&family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ================= BASE ================= */

header a {
    color: #C864C2;
}

a:hover {
    opacity: 0.7;
}

mark {
    background: none;
    color: #7531A0;
}

/* ================= NAVBAR ================= */

.info, .textos, .perguntas, .contato, ul {
    color: #994DC8;
}

nav {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    background-color: #ede9ed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #C864C2;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 45vw;
        height: 70vh;
        background: #ede9ed;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile-menu {
        display: block;
    }
}

/* ================= BANNER ================= */

.banner-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}

.banner h1 {
    font-family: 'Quicksand', sans-serif;
    f
