@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*


cores

azul : #cae0e0
branco: #ede9ed

Rosa bebê (#F8B8C4)
Azul céu claro (#AED9E0)
Verde menta (#B8E0D2)
Amarelo suave (#F9E4B7)
Lilás claro (#D7B9E4)
Cinza claro (#EAEAEA)
Azul bebê (#C4D8E2)
Verde água (#B2DFDB)
Rosa suave (#F5C1C8)
Amarelo pálido (#FFF4CF)
Lavanda suave (#E1D5E7)
Cinza azulado (#D1D9E0)












*/


.logoR {
    height: 120px;
    width: 350px;
    display: flex;
    margin-right: 900PX;

}

.header0 ul {
    font-size: 1.2em;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
}

.header0 li {
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
}

.header0 {
    background-color: #ede9ed;
}

.banner {
    height: 700PX;
    background: url(./assets/header.jpg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 35%;
    align-items: center;
    display: flex;


}

.banner h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 4em;
    margin-left: 45px;
    color: #C864C2;

}




.comoFunciona {
    text-align: center;
    background-color: gray;
}

.comoFuncionaBox i {
    font-size: 2em;
}


.sobre1 {
    background-image: url(./assets/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.imgsobre1 img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1PX SOLID purple;
    margin-bottom: 50px;
    margin-top: 50px;
}

.perguntas {
    background-color: #C864C2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.perguntasBox {
    margin: 190PX;
}



.contenttext {
    width: 50%;
}







.textos {

    display: flex;
    flex-direction: column;
    ALIGN-ITEMS: CENTER;
}



.textos img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.teste1,
.teste2,
.teste3 {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

























.benef {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    background-color: #ede9ed;
}

.card1 {
    margin: 20px;
}
















.front img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px; /* Ajuste conforme necessário */
    background-color: red;
}

.circle1 {
    width: 200px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background-color: #f0f0f0; /* Cor de fundo para o texto por trás da imagem */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back p {
    text-align: center;
}
































.slogan {
    background-color: #cae0e0;
    width: 50%;
    padding: 35px;
    font-size: 26PX;

}

.frase {
    display: flex;
    justify-content: center;
    margin-top: 45PX;
    text-align: center;
    margin-bottom: 45PX;
}

.autor {
    display: flex;
    justify-content: end;
}

.contato {
    margin-top: 100px;
    margin-bottom: 50px;
}

.content-contato {
    display: flex;
    justify-content: center;
    gap: 100PX;
    align-items: center;
}

footer {
    height: 50px;
    background-color: #ede9ed;
}


.comoFuncionaBox {
    display: flex;
    height: 400PX;
    align-items: center;
    font-size: 2em;
    justify-content: space-around;

}