@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
GIFS

https://giphy.com/stickers/flower-stars-kirana-kMAsQuuEeQIwm4eSVJ

https://giphy.com/search/cloud-transparent-stickers

https://giphy.com/stickers/butterfly-ffxiv-khaiani-sIIc9jbMvqtibJT0X3


*/

/*
cores
AZUL: cae0e0
LILAS: cbc3ee
branco: #ede9ed
rosa: e4c7d1
laranja: d15800
Lavanda suave (#E1D5E7)
*/



.formacao h2 {
    font-weight: 300;
    padding: 10px;
}

.formacao i {
    margin-right: 10px;
}

.logoR {
    height: 120px;
    width: 350px;
    display: flex;
    margin-right: 900PX;
}

.header0 ul {
    font-size: 1.2em;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
}

.header0 a {
    text-decoration: none;
}

.header0 li {
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
}

.header0 {
    background-color: #ede9ed;
}

.banner {
    height: 700PX;
    background: url(./assets/header.jpg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 35%;
    align-items: center;
    display: flex;
}

.banner h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 4em;
    margin-left: 45px;
    color: #C864C2;
}

.comoFunciona {
    text-align: center;
    background-color: #ede9ed;
}

.comoFuncionaBox i {
    font-size: 1.2em;
}

.iconfrase p {
    padding-top: 10px;
    font-weight: 100;
}

.comoFunciona h1 {
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
}

.formacao {
    font-size: large;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}

.sobre1 {
    background-image: url(./assets/PAPEL\ DE\ PAREDE.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.sobre1 h1, h2 {
    font-weight: 400;
}

.formacao li {
    list-style: none;
    padding: 2px;
}

.imgsobre1 img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1PX SOLID #C864C2;
    margin-bottom: 50px;
    margin-top: 50px;
}

.perguntas {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.perguntasBox h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 20PX;
    margin-bottom: 10PX;
}

.perguntasBox h1, h3 {
    font-weight: 300;
    padding: 5px;
}

.perguntasBox h2 {
    font-weight: 300;
    padding: 5px;
}

.perguntasBox h3 {
    margin-top: 50PX;
}

.contenttext {
    width: 50%;
}

.terapias {
    margin-top: 40px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.textos {
    display: flex;
    flex-direction: column;
    ALIGN-ITEMS: CENTER;
}

.textos img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.teste1,
.teste2,
.teste3 {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.card1 {
    margin: 20px;
}

.front img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    /* Ajuste conforme necessário */
    background-image: url(./assets/aeeeeeeeeeeeeee.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.circle1 {
    width: 200px;
    /* Ajuste conforme necessário */
    height: 200px;
    /* Ajuste conforme necessário */
    perspective: 1000px;
}

.gif {
    width: 200PX;
    height: 200px;
    padding: 30px
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.frase {
    background-color: #cae0e0;
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
    background-color: #f0f0f0;
    /* Cor de fundo para o texto por trás da imagem */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.back p {
    text-align: center;
}

.banner i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    z-index: 2;
    position: fixed;
    bottom: 75px;
    right: 75px;
    background-color: #25D366;
    padding: 20px;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
}

.slogan {
    background-color: #cae0e0;
    width: 50%;
    padding: 35px;
    font-size: 26PX;
}

.frase {
    display: flex;
    justify-content: center;
    padding-top: 95px;
    text-align: center;
    padding-bottom: 95px;
}

.autor {
    display: flex;
    justify-content: end;
}

.contato {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExb21zbm5yM2ZkN2F1MWc0bW10eGV0bjRoa3kzb3lyOW94ODh0MmtraSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/sIIc9jbMvqtibJT0X3/giphy.gif);
    background-repeat: no-repeat;
    background-position: 40%;
}


.content-contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conttitle {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 45PX;
}


.content-contato p {
    padding: 5px;
}

























footer {
    height: 50px;
    background-color: #ede9ed;
}

.comoFuncionaBox {
    color: gray;
    display: flex;
    padding-top: 75PX;
    padding-bottom: 100px;
    align-items: center;
    font-size: 2em;
    justify-content: space-around;

}





















.contenttext h1 {
    padding-bottom: 10PX;
    font-weight: 300;

}