@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Commissioner&family=Quicksand:wght@400;500&display=swap');

:root {
  --font-base: 'Quicksand', sans-serif;
  --font-heading: 'Commissioner', sans-serif;
  --font-alt: 'Comfortaa', sans-serif;

  --color-primary: #7531A0;
  --color-secondary: #C864C2;
  --color-accent: #994DC8;

  --color-bg-main: #ede9ed;
  --color-bg-soft: #DBD0E9;
  --color-text-main: #4a235a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  color: var(--color-text-main);
  line-height: 1.6;
  background-color: white;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 400;
}

p {
  font-family: var(--font-base);
}

mark {
  background: none;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}
