/* =========================
   NAVBAR – COMPONENTES
========================= */
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-left: 32px;
}

.nav-list a {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-secondary);
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
}

/* =========================
   BOTÃO MENU MOBILE
========================= */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 28px;
  height: 2px;
  background-color: var(--color-secondary);
  margin: 6px 0;
  transition: all 0.3s ease;
}

/* =========================
   MENU MOBILE – COMPORTAMENTO
========================= */
@media (max-width: 900px) {

  .nav-list {
    position: absolute;
    top: 80px; /* mesma altura da navbar */
    right: 0;

    width: 70%;
    height: calc(100vh - 80px);

    background-color: var(--color-light-bg);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .nav-list.remove-nav-list {
    transform: translateX(100%);
  }

  .mobile-menu {
    display: block;
  }

  .nav-list li {
    margin-left: 0;
  }
}
