/* =========================
   NAVBAR – COMPONENTES
========================= */
.nav-list {
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list a {
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* =========================
   MENU MOBILE
========================= */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #C864C2;
  margin: 8px;
  transition: 0.3s;
}

/* =========================
   MENU MOBILE – RESPONSIVO
========================= */
@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 45vw;
    height: 70vh;
    background: #ede9ed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .mobile-menu {
    display: block;
  }
}
